

*{
  color:#ffffff;
}

body{
  background-image: url("./images/back.jpg");
  background-color: #000000;
  font-family: 'Gloria Hallelujah',
  cursive;
}

a {
  color: hsl(0, 0%, 0%);
}

a:hover{
  color: #ffffff;
}


